AnimalFarmManager.Infrastructure/bin/Debug/netstandard1.6/AnimalFarmManager.Infrastructure.pdb
AnimalFarmManager.Tests.E2E/bin/Debug/netcoreapp1.1/AnimalFarmManager.Infrastructure.pdb
AnimalFarmManager.Core/bin/Debug/netstandard1.6/AnimalFarmManager.Core.pdb
AnimalFarmManager.Core/obj/Debug/netstandard1.6/AnimalFarmManager.Core.dll
AnimalFarmManager.Tests.E2E/bin/Debug/netcoreapp1.1/AnimalFarmManager.Core.pdb
AnimalFarmManager.Tests.E2E/bin/Debug/netcoreapp1.1/AnimalFarmManager.Infrastructure.pdb
AnimalFarmManager.Tests.E2E/bin/Debug/netcoreapp1.1/AnimalFarmManager.Infrastructure.dll
AnimalFarmManager.Tests.E2E/bin/Debug/netcoreapp1.1/AnimalFarmManager.Core.pdb
AnimalFarmManager.Tests.E2E/bin/Debug/netcoreapp1.1/AnimalFarmManager.Core.dll
AnimalFarmManager.Tests/bin/Debug/netcoreapp1.1/AnimalFarmManager.Infrastructure.pdb
AnimalFarmManager.Tests/bin/Debug/netcoreapp1.1/AnimalFarmManager.Infrastructure.dll
AnimalFarmManager.Tests/bin/Debug/netcoreapp1.1/AnimalFarmManager.Core.pdb
AnimalFarmManager.Tests/bin/Debug/netcoreapp1.1/AnimalFarmManager.Core.dll
AnimalFarmManager.Infrastructure/obj/Debug/netstandard1.6/AnimalFarmManager.Infrastructure.csproj.CoreCompileInputs.cache
AnimalFarmManager.Infrastructure/obj/Debug/netstandard1.6/AnimalFarmManager.Infrastructure.pdb
AnimalFarmManager.Infrastructure/obj/Debug/netstandard1.6/AnimalFarmManager.Infrastructure.dll
AnimalFarmManager.Infrastructure/bin/Debug/netstandard1.6/AnimalFarmManager.Infrastructure.pdb
AnimalFarmManager.Infrastructure/bin/Debug/netstandard1.6/AnimalFarmManager.Infrastructure.dll
AnimalFarmManager.Infrastructure/bin/Debug/netstandard1.6/AnimalFarmManager.Core.pdb
AnimalFarmManager.Infrastructure/bin/Debug/netstandard1.6/AnimalFarmManager.Core.dll
AnimalFarmManager.Core/obj/Debug/netstandard1.6/AnimalFarmManager.Core.csproj.CoreCompileInputs.cache
AnimalFarmManager.Core/obj/Debug/netstandard1.6/AnimalFarmManager.Core.pdb
AnimalFarmManager.Core/obj/Debug/netstandard1.6/AnimalFarmManager.Core.dll
